body {
    font-family: Arial;
    background: #eef2ff;
    text-align: center;
}

input {
    padding: 10px;
    width: 300px;
}

button {
    padding: 10px;
    background: blue;
    color: white;
    border: none;
}